.navigation {
    list-style: none;
    padding-left: 0;
    padding-bottom: 15px;
    border-bottom: 5px solid rgb(0, 0, 0);
    margin-bottom: 0;
}

.navigation__item {
    margin: 10px 0;
}

.navigation__link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navigation__link:hover {
    color: rgb(0, 255, 34);
}

.navigation__link:active {
    color: rgb(216, 255, 221);
}